*{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    display: block;
    margin: 0 auto;
}

a{
    cursor: pointer;
}

:root{
    --color: rgb(248,247,244);
    --color-2: rgb(236,235,234);
}

/* -menu- */

div.menu{
    width: 100%;
    background-color: var(--color);
}

ul.menu{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid; */
}

ul.menu li{
    padding-left: 5%;
    position: relative;
    display: inline-block;
}

ul.menu li a{
    text-transform: uppercase;
}

li#logo{
    margin-left: 9%;
    margin-right: 20%;
}

/* dropdown */

ul.dropdown{
    z-index: 999;
    /* display: none; */
    position: absolute;
    display: none;
    background-color: var(--color);
    width: 100%;
    left: 20%;
    /* top: 270%; */
    top: 100%;
}

ul.menu li:hover ul{
    display: block;
}

ul.dropdown li{
    display: block;
    border-bottom: 1px solid;
    text-align: center;
    padding-bottom: 10%;
    padding-top: 10%;
    font-weight: bold;
    text-transform: uppercase;
}

ul.dropdown li:first-child{
    margin-top: 21%;
}

ul.dropdown li:last-child{
    border-bottom: none;
}

ul.dropdown li a{
    color: rgb(102, 102, 107);
}
/* -event- */

div.event{
    width: 100%;
    position: relative;
}

div.event img{
    width: 100%;
    height: 100%;
    max-height: 500px;
}

div.event__in{
    position: absolute;
    top: 0;
    text-align: center;
    padding-left: 10%;
    padding-top: 8%;
    color: white;
}

div.event__in h1{
    padding-bottom: 2%;
}

div.event__in p{
    padding-bottom: 3%;
}

button#btn__event{
    background-color: var(--color);
    padding: 5%;
    color: white;
    font-weight: bold;
    background-color: transparent;
    font-size: 150%;
    border: 1px solid white;
    transition: 0.5s;
}

button#btn__event:hover{
    background-color: white;
    color: black;
}

ul.event{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-2);
}

ul.event li{
    width: 25%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

ul.mini__product{
    margin-top: 5%;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}

ul.mini__product li{
    width: 30%;
    position: relative;
    margin-right: 0.2%;
}

ul.mini__product li:first-child{
    margin-left: 4%;
}

ul.mini__product li img{
    width: 100%;
}

ul.mini__product li a{
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 150%;
    text-decoration: none;
}

div.best__seller{
    /* margin: 0 auto; */
    width: 100%;
}

div.best__seller__tittle{
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
}

div.best__seller__tittle a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    /* font-weight: bold; */
}

div.best__seller__tittle h1{
    margin-bottom: 1%;
}

ul.best__seller__product{
    width: 100%;
    display: flex;
}

ul.best__seller__product li{
    position: relative;
    width: 20%;
    text-align: center;
    margin-left: 3.5%;
}

ul.best__seller__product li img{
    width: 100%;
}

ul.best__seller__product li:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

ul.best__seller__product li:hover a{
    display: block;
}

ul.best__seller__product li a{
    position: absolute;
    bottom: 30%;
    left: 12%;
    background-color: var(--color);
    font-size: 100%;
    text-decoration: none;
    color: black;
    display: none;
    padding: 5%;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

ul.best__seller__product li a:hover{
    background-color: black;
    color: white;
}

ul.best__seller__product li span{
    display: block;
    text-transform: uppercase;
    line-height: 150%;
}
span.price{
    text-decoration: line-through;
}

span.sale{
    font-weight: bold;
    font-size: 130%;
}

span#sale__product{
    position: absolute;
    top: 5%;
    left: 7%;
    background-color: red;
    padding: 3%;
    border-radius: 50%;
}

div.collection{
    width: 100%;
    margin-top: 10%;
    background-image: url("img index/banner_new.webp");
    padding-top: 5%;

}

div.collection img{
    width: 100%;
    margin-top: 10%;
}

div.collection span{
    display: block;
    padding-bottom: 3%;
    padding-left: 10%;
    /* position: absolute; */
}

#collection__tittle{
    font-weight: bold;
    font-size: 150%;
    text-transform: uppercase;
}

.btn__hot{
    margin-left: 10%;
    font-size: 150%;
    padding: 1%;
    width: 20%;
    transition: 0.5s;
    background-color: transparent;
    margin-top: 3%;
    margin-bottom: 10%;
    text-transform: uppercase;
    font-weight: bold;
}

.btn__hot:hover{
    background-color: white;
}

ul.collection__list{
    width: 100%;
    display: flex;
    text-align: center;
}

ul.collection__list li{
    width: 50%;
    margin-top: 7%;
    margin-bottom: 2%;
    border-top: 2px solid black;
    padding-top: 3%;
}

ul.collection__list li.active {
    border-top: 2px solid white;
}

ul.collection__list li:first-child{
    margin-left: -5%;
}

ul.collection__list li a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* history */
div.history{
    margin: 0 auto;
    width: 90%;
    text-align: center;
    margin-top: 10%;
}

div.history h1{
    padding-top: 2%;
    padding-bottom: 2%;
}

div.history span{
    color: rgb(181,182,182);
    display: block;
    margin: 0 auto;
    width: 70%;
    padding-bottom: 5%;
}

#story__img{
    width: 100%;
    margin-bottom: 10%;
}

/* review */

div.review{
    width: 100%;
}

div.review-content{
    width: 100%;
    text-align: center;
}

div.review-content p{
    margin-top: 1%;
    margin-bottom: 2%;
}

ul.review{
    display: flex;
    margin: 0 auto;
}

ul.review li{
    width: 19%;
    margin: 0 auto;
}

ul.review li img{
    width: 100%;
}


/* info */
div.info {
    width: 100%;
    /* background-color: rgb(181, 182, 182); */
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    box-sizing: border-box;
  }
  
  div.info__input {
    width: 30%;
    text-align: center;
    float: left;
    box-sizing: border-box;
    margin-right: 10%;
  }
  
  #info__input {
    padding: 4%;
    outline: none;
  }
  
  div.info__input p {
    font-weight: bold;
    margin-bottom: 5%;
  }
  
  div.info__input input {
    padding: 4%;
    outline: none;
  }
  
  #input__name {
    padding-left: 1%;
    width: 60%;
    box-sizing: border-box;
  }
  
  #input__email {
    margin-top: 2%;
    width: 90%;
    box-sizing: border-box;
  }

  #register__info{
    margin-top: 2%;
    padding: 4%;
    width: 90%;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(135,136,138);
    color: white;
    border: 0px;
    cursor: pointer;
  }

  div.contact{
    width: 20%;
    margin-right: 10%;
  }

  div.contact p{
    margin-bottom: 5%;
  }

  div.contact p:first-child{
    font-weight: bold;
    /* margin-bottom: 3%; */
  }

  div.contact a{
    color: black;
    font-size: 250%;
    margin-right: 5%;
  }

  div.address{
    width: 30%;
  }

  div.address p{
    margin-bottom: 5%;
  }
  div.address p:first-child,
  div.address p:nth-child(5){
    font-weight: bold;
  }

 /* guarantee */

div.guarantee{
    width: 100%;
    background-color: var(--color-2);
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
}

div.guarantee__1{
    padding-left: 5%;
    width: 40%;
}

div.guarantee{
    text-transform: uppercase;
}
div.guarantee__1 a:first-child{
    padding-right: 5%;
}

div.guarantee__1 a:hover{
    border-bottom: 2px solid rgb(14, 13, 13);
    padding-bottom: 2%;
}

div.guarantee__2{
    width: 40%;
    padding-right: 5%;
}

div.guarantee__2 a{
    float: right;
}

div.guarantee__2 a:first-child{
    padding-left: 3%;
}

div.guarantee__2 a:last-child{
    padding-right: 3%;
}

div.guarantee__2 a:hover{
    border-bottom: 2px solid rgb(14, 13, 13);
    padding-bottom: 2%;
}

div.license{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 1%;
}

div.license__1{
    width: 60%;
    margin-left: 5%;
}

div.license__1 p:first-child{
    font-weight: bold;
    margin-bottom: 1%;
}

#license{
    margin-right: 5%;
}

.totop{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 3%;
    border-radius: 100%;
    background-color: rgb(231, 233, 238);
}

#collection_male{
    width: 95%;
    margin: 0 auto;
    display: block;
    margin-top: 2%;
}

div.watch_product{
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-top: 2%;
}

div.watch_product h1{
    display: block;
}

div.watch_product p{
    display: inline-block;
}

div.watch_product p:first-of-type{
    float: left;
    color: rgb(122,124,126);
}

div.watch_product p:last-child{
    float: right;
}

ul.watch_menu{
    width: 90%;
    margin: 0 auto;
    display: flex;
    background-color: rgb(194, 189, 183);
}

ul.watch_menu li{
    padding: 1.5%;
    border-left: 1px solid white;
    /* position: relative; */
}

ul.watch_menu li:last-child{
    padding-left: 51%;
}

ul.watch_menu li:hover div.watch_menu2{
    display: block;
}

div.watch_menu2{
    /* position: absolute; */
    display: none;
    background-color: rebeccapurple;
}